<section class="main-container searchMapEx">

     <div class="container">
          <div class="row">
               <div class="col-md-6">
                    <label>Tìm kiếm </label>
                    <h3>Thành viên và Mã sản phẩm theo khu vực</h3>
                    <hr style="border:1px solid red">

                    <label>1. Tìm kiếm theo khu vực</label>
                    
                    <div class="col-md-12">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nhập vị trí">
                        </div>
                    </div>



                    <div class="bieudo"></div>

               </div>



               <div class="col-md-6">
                      <div class="bandat">
                          <div class="condat">
                                <a href="#">Đất</a>
                          </div>

                          <div class="post-description-footer">
                              <ul class="ul-inline ul-tienich">
                                  <li >
                                          <div>28</div>
                                          <img src="/assets/icon-dientich.png" alt="">
                                       
                                  </li>
                                  <li>
                                          <div>&nbsp;</div>
                                          <img src="/assets/icon-huong.png" alt="">  

                                  </li>

                                  <li>
                                          <div>&nbsp;</div>
                                          <img src="/assets/icon-phongngu.png" alt="">
                                  </li>

                                  <li>
                                          <div> 14 </div>
                                          <img src="/assets/icon-phongtam.png" alt="">

                                  </li>

                              </ul>
                        </div>
                             
                           
                      </div>


                      <div class="row mt-10">
                           <div class="col-md-7">
                                <a class="full-left"><span class="post-by-user">Trần Quang Anh</span></a>

                                <span class="full-left">
                                    <button type="button" class="btn btn-sm btn-subcribe-user">
                                        <span class="glyphicon glyphicon-user" style="margin-left: -6px"></span>
                                        <span>Theo dõi</span>
                                    </button>
                                </span>

                              </div>


                         

                         
                      </div>


                      <a href="#" class="link">bán đất liền kề xã Tân Triều (14/03/2017) </a>

                       
                       <div class="diachilienhe">
                          <span class="fa fa-map-marker red" style="margin-left: -6px"></span>
                      <span class="chu">LK 9 - S phố Triều Khúc</span>
                       </div>



                       <div class="icon">
                          <ul class="ul-inline size-16 full-left">
                              <li><a href="#"><span class="price">4,9 tỷ</span></a></li>
                              <li><a href="#"> <span class="fa fa-phone  item"></span></a></li>

                              <li><a href="#"><span class="fa fa-envelope-o item"></span></a></li>

                              <li><a href="#"><span class="fa fa-commenting-o item"></span></a></li>

                        </ul>


                        <ul class="ul-inline size-16 full-right">
                                <li><a href="#"> <span class="fa fa-star-o item"></span></a></li>

                                <li><a href=""><span class="fa fa-thumbs-up item"></span></a></li>

                                <li><a href=""><span class="fa fa-share-alt  item" style="color: blue;"></span></a></li>
                                
                                <li><a href=""><span class="fa fa-bar-chart  item"></span></a></li>

                        </ul>

                       </div>



               </div>
          </div>



          <div class="row mt-15">
                
                 <div class="col-md-12">
                       <label>2. Tìm kiếm thành viên </label>
                 
                  </div>

               
                  
                     <div class="row row-no-padding-5  pl-10 pr-10" >
                            <div class="col-md-3 col-xs-12" style="padding: 3px">
                                   <div class="form-group">
                                        <input type="text" name="keyword" id="keyword" class="form-control-static" placeholder="Nhập tên hoặc số điện thoại">
                                   </div>
                            </div>

                            <div class="col-md-3 col-xs-12">
                                    <div class="row">
                                            <div class="col-md-6" style="padding: 3px;">
                                                    <div class="form-group">
                                                         <select name="province" id="province" class="form-control select2-hidden-accessible" aria-hidden="true">
                                                             <option value="chonthanhpho">thành phố </option>
                                                             <option value="01">Hà Nội</option>
                                                             <option value="79">Hồ Chí Minh</option>
                                                             <option value="48">Đà Nẵng</option>
                                                             <option value="56">Khánh Hòa</option>
                                                             <option value="91">Kiên Giang</option>
                                                             <option value="52">Bình Định</option>
                                                             <option value="31">Hải Phòng</option>
                                                             </select>
                                                         </div>
                                             </div>


                                             <div class="col-md-6 col-xs-12" style="padding: 3px;">

                                                    <div class="form-group">
                                                            <select name="province" id="province" class="form-control select2-hidden-accessible" aria-hidden="true">
                                                                <option value="chonthanhpho">quận huyện</option>
                                                                <option value="01">Hà Nội</option>
                                                                <option value="79">Hồ Chí Minh</option>
                                                                <option value="48">Đà Nẵng</option>
                                                                <option value="56">Khánh Hòa</option>
                                                                <option value="91">Kiên Giang</option>
                                                                <option value="52">Bình Định</option>
                                                                <option value="31">Hải Phòng</option>
                                                                </select>
                                                            </div>
                          

                                             </div>
                                    </div>
                            </div>


                            <div class="col-md-2">
                                     <div class="form-group">
                                            <button type="submit" class="btn btn-type-red ">TÌM KIẾM</button>                                    </div>
                            </div>
                          


                           

                     </div>
          </div>

             
     </div>
    
</section>