<section class="slide-home-content">
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">

                        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                        <li data-target="#myCarousel" data-slide-to="4" class=""></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                        <div class="item">
                            <a href="http://philongdc.com/tin-tuc/tuyen-gap-05-nhan-vien-kinh-doanh-che-do-dai-ngo-hap-dan-_20" target="_blank"><img src="/assets/banner1.png" alt="Slide 1"></a>
                        </div>
                        <div class="item">
                            <a href="http://philongdc.com/tin-tuc/gioi-thieu-ve-website-philongdc-com_22" target="_blank"><img src="/assets/banner2.png" alt="Slide 2"></a>
                        </div>
                        <div class="item active">
                            <a href="#" target="_blank"><img src="/assets/banner5.png" alt="Slide 3"></a>
                        </div>
                        <div class="item">
                            <a href="http://philongdc.com/tin-tuc/phu-cat-city-co-hoi-dau-tu-hap-dan_8" target="_blank"><img src="/assets/banner3.png" alt="Slide 4"></a>
                        </div>
                        <div class="item">
                            <a href="http://philongdc.com/tin-tuc/cc-unimax-210-quang-trung-ha-dong-mua-gia-goc-nhan-nha-ngay-tang-xe-may-tri-gia-30tr_24" target="_blank"><img src="/assets/banner4.png" alt="Unimax 210 Quang Trung, Hà Đông, Hà Nội"></a>
                        </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <i class="fa fa-angle-left glyphicon-chevron-left" aria-hidden="true"></i>
                <span class="sr-only">pre</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <i class="fa fa-angle-right glyphicon-chevron-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>