<section>
      <div class="container">
            <div class="box-search">
                  <div class="row" style="padding-bottom: 10px">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                              <div class="form-group">
                                    <form style="margin-bottom: 0px !important;">
                                          <input type="text" class="form-control" placeholder="tìm kiếm thông tin bất động sản" id="inputext">
                                          <span class="input-group-btn" style="padding-top: 53px;">
                                                <button class="btn btn-search" type="submit" >
                                                      <i class="fa fa-search" aria-hidden="true" ></i>
                                                </button>
                                          </span>
                                    </form>
                              </div>

                        </div>
                        <div class="col-md-3">

                        </div>


                  </div>

                  <div class="row bg-white list-option-filter">

                        <div class="col-md-2">
                              <span class="ti-align-justify">

                              </span>

                              <div class="option-select">
                                    <small class="visible-md visible-lg">chọn hình thức</small>

                                    <input type="radio" class="css-checkbox">

                                    <label for="radio-1" class="css-label radGroup2">Bán</label>
                                    <label for="radio-1" class="css-label radGroup2">Thuê</label>
                              </div>

                        </div>

                        <div class="col-md-2">
                              <span class="ti-list">

                              </span>

                              <div class="option-select">
                                    <small class="visible-md visible-lg">loại hình</small>
                                    <small class="visible-xs visible-sm">Chọn thể loại</small>

                                    <div>
                                          <select name="lg" id="lg" style="border: none;font-weight: bold;width: 100%;margin-left: -20px;" class="select2-hidden-accessible">
                                                <option value="chon">chọn</option>
                                                <option value="chungcu">chung cư</option>
                                                <option value="khachsan">khách sạn</option>
                                                <option value="buonban">buôn bán</option>
                                                <option value="santhuongmai">sàn thương mại</option>

                                          </select>
                                    </div>

                              </div>
                        </div>

                        <div class="col-md-2">
                              <span class="ti-location-pin"></span>

                              <div class="option-select">
                                    <small class="visible-md visible-lg">thành phố </small>
                                    <small class="visible-xs visible-sm">Chọn thể loại</small>

                                    <div>
                                          <select name="lg" id="lg" style="border: none;font-weight: bold;width: 100%;margin-left: -15px;" class="select2-hidden-accessible">
                                                <option value="chon">chọn</option>
                                                <option value="chungcu">chung cư</option>
                                                <option value="khachsan">khách sạn</option>
                                                <option value="buonban">buôn bán</option>
                                                <option value="santhuongmai">sàn thương mại</option>

                                          </select>
                                    </div>
                              </div>
                        </div>

                        <div class="col-md-2">
                              <span class="ti-location-pin">

                              </span>

                              <div class="option-select">
                                    <small class="visible-md visible-lg">Quận/Huyện</small>
                                    <small class="visible-xs visible-sm">Chọn thể loại</small>
                                    <div>
                                          <select name="lg" id="lg" style="border: none;font-weight: bold;width: 100%;margin-left: -15px;" class="select2-hidden-accessible">
                                                <option value="chon">chọn</option>
                                                <option value="chungcu">chung cư</option>
                                                <option value="khachsan">khách sạn</option>
                                                <option value="buonban">buôn bán</option>
                                                <option value="santhuongmai">sàn thương mại</option>

                                          </select>
                                    </div>
                              </div>
                        </div>

                        <div class="col-md-2">
                              <span class="ti-money">

                              </span>

                              <div class="option-select">
                                    <small class="visible-md visible-lg">Mức giá</small>
                                    <small class="visible-xs visible-sm">Chọn thể loại</small>
                                    <div>
                                          <select name="lg" id="lg" style="border: none;font-weight: bold;width: 100%;margin-left: -15px;" class="select2-hidden-accessible">
                                                <option value="chon">chọn</option>
                                                <option value="chungcu">chung cư</option>
                                                <option value="khachsan">khách sạn</option>
                                                <option value="buonban">buôn bán</option>
                                                <option value="santhuongmai">sàn thương mại</option>

                                          </select>
                                    </div>
                              </div>
                        </div>

                        <div class="col-md-2 con">
                              <button type="submit" id="form">
                                    tìm kiếm
                              </button>
                        </div>

                  </div>
            </div>
      </div>

</section>