<section class="duplicatable-content">
     
       <div class="container">
              <div class="row">
                     <div class="col-md-12">
                             <div class="duannoibat-bar">
                                    <div class="bg-heading">Dự án nổi bật</div>
                             </div>
                     </div>
              </div>   

              <div class="row">
                    
                    <div class="col-md-4">
                            <p>
                                <a href="#"><span class="post-by-user">thuê nhà</span></a>
                                 <span class="full-right" style="float: right;">
                                    

                                         <button class="btn btn-sm btn-subcribe-user" >
                                                        <span class="ti-user"></span>
                                             <span>theo dõi</span>  
                                         </button>
                                 </span>
                             </p>
 
                             <a ng-href="/thue-nha/cho-thue-cua-hang-mat-pho-tran-quang-dieu-dong-da-ha-noi_11884" href="/thue-nha/cho-thue-cua-hang-mat-pho-tran-quang-dieu-dong-da-ha-noi_11884">
                                 <div class="product-img">
                                     <div class="product-image">
                                             <img src=" /assets/anh2.png" alt="">
                                            <div class="sticker-product">Thuê</div>
                                             <span class="date-post">27/3/2012</span>
                                         </div>
                                   
                                 </div>
                             </a>
 
                             <p></p>
                             <div class="product-title">
                                    <a href="#">Cho thuê cửa hàng mặt phố Trần Quang Diệu, Đống Đa, Hà Nội</a>
                             </div>
                             <div class="product-address">
                                    <a href="#"><span class="fa fa-map-marker red"><i style=" word-spacing: normal; font-family: Arial, Helvetica, sans-serif">Trần Quang Diệu, Đống Đa, Hà Nội, Việt Nam</i></span></a>
                             </div>
 
                             <ul class="ul-inline size-16 full-left">
                                   <li><a href="#"><span class="price">7 triệu</span></a></li>
                                   <li><a href="#"> <span class="fa fa-phone item"></span></a></li>
 
                                   <li><a href=""><span class="fa fa-envelope-o item"></span></a></li>
 
                                   <li><a href=""><span class="fa fa-commenting-o item"></span></a></li>
 
                             </ul>
 
 
                             <ul class="ul-inline size-16 full-right">
                                     <li><a href="#"> <span class="fa fa-star-o item"></span></a></li>
   
                                     <li><a href=""><span class="fa fa-thumbs-up item"></span></a></li>
   
                                     <li><a href=""><span class="fa fa-share-alt  item"></span></a></li>
                                     
                                     <li><a href=""><span class="fa fa-bar-chart item"></span></a></li>
 
                               </ul>
 
 
 
                               <div class="post-description-footer">
                                     <ul class="ul-inline ul-tienich">
                                         <li>
                                                 <div>28</div>

                                                 <img src="/assets/icon-dientich.png" alt="">
                                         </li>
                                         <li>
                                                 <div>1</div>
                                                 <img src="/assets/icon-huong.png" alt="">  
 
                                         </li>
 
                                         <li>
                                                 <div>1</div>
                                                <img src="/assets/icon-phongngu.png" alt="">
                                                 
                                         </li>
 
                                         <li>
                                                 <div> &nbsp; </div>
                                                
                                                 <img src="/assets/icon-phongtam.png" alt="">
 
                                         </li>
 
                                     </ul>
                               </div>
 
                               <hr style="border:1px solid black;opacity: 0.4;">
                     </div>


                     <div class="col-md-4">
                                <p>
                                    <a href="#"><span class="post-by-user">thuê nhà</span></a>
                                     <span class="full-right" style="float: right;">
                                        
    
                                             <button class="btn btn-sm btn-subcribe-user" >
                                                            <span class="ti-user"></span>
                                                 <span>theo dõi</span>  
                                             </button>
                                     </span>
                                 </p>
     
                                 <a ng-href="/thue-nha/cho-thue-cua-hang-mat-pho-tran-quang-dieu-dong-da-ha-noi_11884" href="/thue-nha/cho-thue-cua-hang-mat-pho-tran-quang-dieu-dong-da-ha-noi_11884">
                                     <div class="product-img">
                                         <div class="product-image">
                                                 <img src=" /assets/anh1.png" alt="">
                                                <div class="sticker-product">Thuê</div>
                                                 <span class="date-post">27/3/2012</span>
                                             </div>
                                       
                                     </div>
                                 </a>
     
                                 <p></p>
                                 <div class="product-title">
                                        <a href="#">Cho thuê cửa hàng mặt phố Trần Quang Diệu, Đống Đa, Hà Nội</a>
                                 </div>
                                 <div class="product-address">
                                        <a href="#"><span class="fa fa-map-marker red"><i style=" word-spacing: normal; font-family: Arial, Helvetica, sans-serif">Trần Quang Diệu, Đống Đa, Hà Nội, Việt Nam</i></span></a>
                                 </div>
     
                                 <ul class="ul-inline size-16 full-left">
                                       <li><a href="#"><span class="price">7 triệu</span></a></li>
                                       <li><a href="#"> <span class="fa fa-phone item"></span></a></li>
     
                                       <li><a href=""><span class="fa fa-envelope-o item"></span></a></li>
     
                                       <li><a href=""><span class="fa fa-commenting-o item"></span></a></li>
     
                                 </ul>
     
     
                                 <ul class="ul-inline size-16 full-right">
                                         <li><a href="#"> <span class="fa fa-star-o item"></span></a></li>
       
                                         <li><a href=""><span class="fa fa-thumbs-up item"></span></a></li>
       
                                         <li><a href=""><span class="fa fa-share-alt  item"></span></a></li>
                                         
                                         <li><a href=""><span class="fa fa-bar-chart item"></span></a></li>
     
                                   </ul>
     
     
     
                                   <div class="post-description-footer">
                                         <ul class="ul-inline ul-tienich">
                                             <li>
                                                     <div>28</div>
    
                                                     <img src="/assets/icon-dientich.png" alt="">
                                             </li>
                                             <li>
                                                     <div>1</div>
                                                     <img src="/assets/icon-huong.png" alt="">  
     
                                             </li>
     
                                             <li>
                                                     <div>1</div>
                                                    <img src="/assets/icon-phongngu.png" alt="">
                                                     
                                             </li>
     
                                             <li>
                                                     <div> &nbsp; </div>
                                                    
                                                     <img src="/assets/icon-phongtam.png" alt="">
     
                                             </li>
     
                                         </ul>
                                   </div>
     
                                   <hr style="border:1px solid black;opacity: 0.4;">
                         </div>



                         <div class="col-md-4">
                                        <p>
                                            <a href="#"><span class="post-by-user">thuê nhà</span></a>
                                             <span class="full-right" style="float: right;">
                                                
            
                                                     <button class="btn btn-sm btn-subcribe-user" >
                                                                    <span class="ti-user"></span>
                                                         <span>theo dõi</span>  
                                                     </button>
                                             </span>
                                         </p>
             
                                         <a ng-href="/thue-nha/cho-thue-cua-hang-mat-pho-tran-quang-dieu-dong-da-ha-noi_11884" href="/thue-nha/cho-thue-cua-hang-mat-pho-tran-quang-dieu-dong-da-ha-noi_11884">
                                             <div class="product-img">
                                                 <div class="product-image">
                                                         <img src=" /assets/anh3.png" alt="">
                                                        <div class="sticker-product">Thuê</div>
                                                         <span class="date-post">27/3/2012</span>
                                                     </div>
                                               
                                             </div>
                                         </a>
             
                                         <p></p>
                                         <div class="product-title">
                                                <a href="#">Cho thuê cửa hàng mặt phố Trần Quang Diệu, Đống Đa, Hà Nội</a>
                                         </div>
                                         <div class="product-address">
                                                <a href="#"><span class="fa fa-map-marker red"><i style=" word-spacing: normal; font-family: Arial, Helvetica, sans-serif">Trần Quang Diệu, Đống Đa, Hà Nội, Việt Nam</i></span></a>
                                         </div>
             
                                         <ul class="ul-inline size-16 full-left">
                                               <li><a href="#"><span class="price">7 triệu</span></a></li>
                                               <li><a href="#"> <span class="fa fa-phone item"></span></a></li>
             
                                               <li><a href=""><span class="fa fa-envelope-o item"></span></a></li>
             
                                               <li><a href=""><span class="fa fa-commenting-o item"></span></a></li>
             
                                         </ul>
             
             
                                         <ul class="ul-inline size-16 full-right">
                                                 <li><a href="#"> <span class="fa fa-star-o item"></span></a></li>
               
                                                 <li><a href=""><span class="fa fa-thumbs-up item"></span></a></li>
               
                                                 <li><a href=""><span class="fa fa-share-alt  item"></span></a></li>
                                                 
                                                 <li><a href=""><span class="fa fa-bar-chart item"></span></a></li>
             
                                           </ul>
             
             
             
                                           <div class="post-description-footer">
                                                 <ul class="ul-inline ul-tienich">
                                                     <li>
                                                             <div>28</div>
            
                                                             <img src="/assets/icon-dientich.png" alt="">
                                                     </li>
                                                     <li>
                                                             <div>1</div>
                                                             <img src="/assets/icon-huong.png" alt="">  
             
                                                     </li>
             
                                                     <li>
                                                             <div>1</div>
                                                            <img src="/assets/icon-phongngu.png" alt="">
                                                             
                                                     </li>
             
                                                     <li>
                                                             <div> &nbsp; </div>
                                                            
                                                             <img src="/assets/icon-phongtam.png" alt="">
             
                                                     </li>
             
                                                 </ul>
                                           </div>
             
                                           <hr style="border:1px solid black;opacity: 0.4;">
                                 </div>


                  

                   

              </div>


              <div class="row">
                        <div class="col-md-4">
                                        <p>
                                            <a href="#"><span class="post-by-user">thuê nhà</span></a>
                                             <span class="full-right" style="float: right;">
                                                
            
                                                     <button class="btn btn-sm btn-subcribe-user" >
                                                                    <span class="ti-user"></span>
                                                         <span>theo dõi</span>  
                                                     </button>
                                             </span>
                                         </p>
             
                                         <a ng-href="/thue-nha/cho-thue-cua-hang-mat-pho-tran-quang-dieu-dong-da-ha-noi_11884" href="/thue-nha/cho-thue-cua-hang-mat-pho-tran-quang-dieu-dong-da-ha-noi_11884">
                                             <div class="product-img">
                                                 <div class="product-image">
                                                         <img src=" /assets/anh4.png" alt="">
                                                        <div class="sticker-product">Thuê</div>
                                                         <span class="date-post">27/3/2012</span>
                                                     </div>
                                               
                                             </div>
                                         </a>
             
                                         <p></p>
                                         <div class="product-title">
                                                <a href="#">Cho thuê cửa hàng mặt phố Trần Quang Diệu, Đống Đa, Hà Nội</a>
                                         </div>
                                         <div class="product-address">
                                                <a href="#"><span class="fa fa-map-marker red"><i style=" word-spacing: normal; font-family: Arial, Helvetica, sans-serif">Trần Quang Diệu, Đống Đa, Hà Nội, Việt Nam</i></span></a>
                                         </div>
             
                                         <ul class="ul-inline size-16 full-left">
                                               <li><a href="#"><span class="price">7 triệu</span></a></li>
                                               <li><a href="#"> <span class="fa fa-phone item"></span></a></li>
             
                                               <li><a href=""><span class="fa fa-envelope-o item"></span></a></li>
             
                                               <li><a href=""><span class="fa fa-commenting-o item"></span></a></li>
             
                                         </ul>
             
             
                                         <ul class="ul-inline size-16 full-right">
                                                 <li><a href="#"> <span class="fa fa-star-o item"></span></a></li>
               
                                                 <li><a href=""><span class="fa fa-thumbs-up item"></span></a></li>
               
                                                 <li><a href=""><span class="fa fa-share-alt  item"></span></a></li>
                                                 
                                                 <li><a href=""><span class="fa fa-bar-chart item"></span></a></li>
             
                                           </ul>
             
             
             
                                           <div class="post-description-footer">
                                                 <ul class="ul-inline ul-tienich">
                                                     <li>
                                                             <div>28</div>
            
                                                             <img src="/assets/icon-dientich.png" alt="">
                                                     </li>
                                                     <li>
                                                             <div>1</div>
                                                             <img src="/assets/icon-huong.png" alt="">  
             
                                                     </li>
             
                                                     <li>
                                                             <div>1</div>
                                                            <img src="/assets/icon-phongngu.png" alt="">
                                                             
                                                     </li>
             
                                                     <li>
                                                             <div> &nbsp; </div>
                                                            
                                                             <img src="/assets/icon-phongtam.png" alt="">
             
                                                     </li>
             
                                                 </ul>
                                           </div>
             
                                           <hr style="border:1px solid black;opacity: 0.4;">
                                 </div>


                                 <div class="col-md-4">
                                                <p>
                                                    <a href="#"><span class="post-by-user">thuê nhà</span></a>
                                                     <span class="full-right" style="float: right;">
                                                        
                    
                                                             <button class="btn btn-sm btn-subcribe-user" >
                                                                            <span class="ti-user"></span>
                                                                 <span>theo dõi</span>  
                                                             </button>
                                                     </span>
                                                 </p>
                     
                                                 <a ng-href="/thue-nha/cho-thue-cua-hang-mat-pho-tran-quang-dieu-dong-da-ha-noi_11884" href="/thue-nha/cho-thue-cua-hang-mat-pho-tran-quang-dieu-dong-da-ha-noi_11884">
                                                     <div class="product-img">
                                                         <div class="product-image">
                                                                 <img src=" /assets/anh5.png" alt="">
                                                                <div class="sticker-product">Thuê</div>
                                                                 <span class="date-post">27/3/2012</span>
                                                             </div>
                                                       
                                                     </div>
                                                 </a>
                     
                                                 <p></p>
                                                 <div class="product-title">
                                                        <a href="#">Cho thuê cửa hàng mặt phố Trần Quang Diệu, Đống Đa, Hà Nội</a>
                                                 </div>
                                                 <div class="product-address">
                                                        <a href="#"><span class="fa fa-map-marker red"><i style=" word-spacing: normal; font-family: Arial, Helvetica, sans-serif">Trần Quang Diệu, Đống Đa, Hà Nội, Việt Nam</i></span></a>
                                                 </div>
                     
                                                 <ul class="ul-inline size-16 full-left">
                                                       <li><a href="#"><span class="price">7 triệu</span></a></li>
                                                       <li><a href="#"> <span class="fa fa-phone item"></span></a></li>
                     
                                                       <li><a href=""><span class="fa fa-envelope-o item"></span></a></li>
                     
                                                       <li><a href=""><span class="fa fa-commenting-o item"></span></a></li>
                     
                                                 </ul>
                     
                     
                                                 <ul class="ul-inline size-16 full-right">
                                                         <li><a href="#"> <span class="fa fa-star-o item"></span></a></li>
                       
                                                         <li><a href=""><span class="fa fa-thumbs-up item"></span></a></li>
                       
                                                         <li><a href=""><span class="fa fa-share-alt  item"></span></a></li>
                                                         
                                                         <li><a href=""><span class="fa fa-bar-chart item"></span></a></li>
                     
                                                   </ul>
                     
                     
                     
                                                   <div class="post-description-footer">
                                                         <ul class="ul-inline ul-tienich">
                                                             <li>
                                                                     <div>28</div>
                    
                                                                     <img src="/assets/icon-dientich.png" alt="">
                                                             </li>
                                                             <li>
                                                                     <div>1</div>
                                                                     <img src="/assets/icon-huong.png" alt="">  
                     
                                                             </li>
                     
                                                             <li>
                                                                     <div>1</div>
                                                                    <img src="/assets/icon-phongngu.png" alt="">
                                                                     
                                                             </li>
                     
                                                             <li>
                                                                     <div> &nbsp; </div>
                                                                    
                                                                     <img src="/assets/icon-phongtam.png" alt="">
                     
                                                             </li>
                     
                                                         </ul>
                                                   </div>
                     
                                                   <hr style="border:1px solid black;opacity: 0.4;">
                                         </div>
                                         <div class="col-md-4">
                                                        <p>
                                                            <a href="#"><span class="post-by-user">thuê nhà</span></a>
                                                             <span class="full-right" style="float: right;">
                                                                
                            
                                                                     <button class="btn btn-sm btn-subcribe-user" >
                                                                                    <span class="ti-user"></span>
                                                                         <span>theo dõi</span>  
                                                                     </button>
                                                             </span>
                                                         </p>
                             
                                                         <a ng-href="/thue-nha/cho-thue-cua-hang-mat-pho-tran-quang-dieu-dong-da-ha-noi_11884" href="/thue-nha/cho-thue-cua-hang-mat-pho-tran-quang-dieu-dong-da-ha-noi_11884">
                                                             <div class="product-img">
                                                                 <div class="product-image">
                                                                         <img src=" /assets/anh6.png" alt="">
                                                                        <div class="sticker-product">Thuê</div>
                                                                         <span class="date-post">27/3/2012</span>
                                                                     </div>
                                                               
                                                             </div>
                                                         </a>
                             
                                                         <p></p>
                                                         <div class="product-title">
                                                                <a href="#">Cho thuê cửa hàng mặt phố Trần Quang Diệu, Đống Đa, Hà Nội</a>
                                                         </div>
                                                         <div class="product-address">
                                                                <a href="#"><span class="fa fa-map-marker red"><i style=" word-spacing: normal; font-family: Arial, Helvetica, sans-serif">Trần Quang Diệu, Đống Đa, Hà Nội, Việt Nam</i></span></a>
                                                         </div>
                             
                                                         <ul class="ul-inline size-16 full-left">
                                                               <li><a href="#"><span class="price">7 triệu</span></a></li>
                                                               <li><a href="#"> <span class="fa fa-phone item"></span></a></li>
                             
                                                               <li><a href=""><span class="fa fa-envelope-o item"></span></a></li>
                             
                                                               <li><a href=""><span class="fa fa-commenting-o item"></span></a></li>
                             
                                                         </ul>
                             
                             
                                                         <ul class="ul-inline size-16 full-right">
                                                                 <li><a href="#"> <span class="fa fa-star-o item"></span></a></li>
                               
                                                                 <li><a href=""><span class="fa fa-thumbs-up item"></span></a></li>
                               
                                                                 <li><a href=""><span class="fa fa-share-alt  item"></span></a></li>
                                                                 
                                                                 <li><a href=""><span class="fa fa-bar-chart item"></span></a></li>
                             
                                                           </ul>
                             
                             
                             
                                                           <div class="post-description-footer">
                                                                 <ul class="ul-inline ul-tienich">
                                                                     <li>
                                                                             <div>28</div>
                            
                                                                             <img src="/assets/icon-dientich.png" alt="">
                                                                     </li>
                                                                     <li>
                                                                             <div>1</div>
                                                                             <img src="/assets/icon-huong.png" alt="">  
                             
                                                                     </li>
                             
                                                                     <li>
                                                                             <div>1</div>
                                                                            <img src="/assets/icon-phongngu.png" alt="">
                                                                             
                                                                     </li>
                             
                                                                     <li>
                                                                             <div> &nbsp; </div>
                                                                            
                                                                             <img src="/assets/icon-phongtam.png" alt="">
                             
                                                                     </li>
                             
                                                                 </ul>
                                                           </div>
                             
                                                           <hr style="border:1px solid black;opacity: 0.4;">
                                                 </div>

              </div>




              <div class="row">
                        <div class="col-md-4">
                                        <p>
                                            <a href="#"><span class="post-by-user">thuê nhà</span></a>
                                             <span class="full-right" style="float: right;">
                                                
            
                                                     <button class="btn btn-sm btn-subcribe-user" >
                                                                    <span class="ti-user"></span>
                                                         <span>theo dõi</span>  
                                                     </button>
                                             </span>
                                         </p>
             
                                         <a ng-href="/thue-nha/cho-thue-cua-hang-mat-pho-tran-quang-dieu-dong-da-ha-noi_11884" href="/thue-nha/cho-thue-cua-hang-mat-pho-tran-quang-dieu-dong-da-ha-noi_11884">
                                             <div class="product-img">
                                                 <div class="product-image">
                                                         <img src=" /assets/anh7.png" alt="">
                                                        <div class="sticker-product">Thuê</div>
                                                         <span class="date-post">27/3/2012</span>
                                                     </div>
                                               
                                             </div>
                                         </a>
             
                                         <p></p>
                                         <div class="product-title">
                                                <a href="#">Cho thuê cửa hàng mặt phố Trần Quang Diệu, Đống Đa, Hà Nội</a>
                                         </div>
                                         <div class="product-address">
                                                <a href="#"><span class="fa fa-map-marker red"><i style=" word-spacing: normal; font-family: Arial, Helvetica, sans-serif">Trần Quang Diệu, Đống Đa, Hà Nội, Việt Nam</i></span></a>
                                         </div>
             
                                         <ul class="ul-inline size-16 full-left">
                                               <li><a href="#"><span class="price">7 triệu</span></a></li>
                                               <li><a href="#"> <span class="fa fa-phone item"></span></a></li>
             
                                               <li><a href=""><span class="fa fa-envelope-o item"></span></a></li>
             
                                               <li><a href=""><span class="fa fa-commenting-o item"></span></a></li>
             
                                         </ul>
             
             
                                         <ul class="ul-inline size-16 full-right">
                                                 <li><a href="#"> <span class="fa fa-star-o item"></span></a></li>
               
                                                 <li><a href=""><span class="fa fa-thumbs-up item"></span></a></li>
               
                                                 <li><a href=""><span class="fa fa-share-alt  item"></span></a></li>
                                                 
                                                 <li><a href=""><span class="fa fa-bar-chart item"></span></a></li>
             
                                           </ul>
             
             
             
                                           <div class="post-description-footer">
                                                 <ul class="ul-inline ul-tienich">
                                                     <li>
                                                             <div>28</div>
            
                                                             <img src="/assets/icon-dientich.png" alt="">
                                                     </li>
                                                     <li>
                                                             <div>1</div>
                                                             <img src="/assets/icon-huong.png" alt="">  
             
                                                     </li>
             
                                                     <li>
                                                             <div>1</div>
                                                            <img src="/assets/icon-phongngu.png" alt="">
                                                             
                                                     </li>
             
                                                     <li>
                                                             <div> &nbsp; </div>
                                                            
                                                             <img src="/assets/icon-phongtam.png" alt="">
             
                                                     </li>
             
                                                 </ul>
                                           </div>
             
                                           <hr style="border:1px solid black;opacity: 0.4;">
                                 </div>


                                 <div class="col-md-4">
                                                <p>
                                                    <a href="#"><span class="post-by-user">thuê nhà</span></a>
                                                     <span class="full-right" style="float: right;">
                                                        
                    
                                                             <button class="btn btn-sm btn-subcribe-user" >
                                                                            <span class="ti-user"></span>
                                                                 <span>theo dõi</span>  
                                                             </button>
                                                     </span>
                                                 </p>
                     
                                                 <a ng-href="/thue-nha/cho-thue-cua-hang-mat-pho-tran-quang-dieu-dong-da-ha-noi_11884" href="/thue-nha/cho-thue-cua-hang-mat-pho-tran-quang-dieu-dong-da-ha-noi_11884">
                                                     <div class="product-img">
                                                         <div class="product-image">
                                                                 <img src=" /assets/anh8.png" alt="">
                                                                <div class="sticker-product">Thuê</div>
                                                                 <span class="date-post">27/3/2012</span>
                                                             </div>
                                                       
                                                     </div>
                                                 </a>
                     
                                                 <p></p>
                                                 <div class="product-title">
                                                        <a href="#">Cho thuê cửa hàng mặt phố Trần Quang Diệu, Đống Đa, Hà Nội</a>
                                                 </div>
                                                 <div class="product-address">
                                                        <a href="#"><span class="fa fa-map-marker red"><i style=" word-spacing: normal; font-family: Arial, Helvetica, sans-serif">Trần Quang Diệu, Đống Đa, Hà Nội, Việt Nam</i></span></a>
                                                 </div>
                     
                                                 <ul class="ul-inline size-16 full-left">
                                                       <li><a href="#"><span class="price">7 triệu</span></a></li>
                                                       <li><a href="#"> <span class="fa fa-phone item"></span></a></li>
                     
                                                       <li><a href=""><span class="fa fa-envelope-o item"></span></a></li>
                     
                                                       <li><a href=""><span class="fa fa-commenting-o item"></span></a></li>
                     
                                                 </ul>
                     
                     
                                                 <ul class="ul-inline size-16 full-right">
                                                         <li><a href="#"> <span class="fa fa-star-o item"></span></a></li>
                       
                                                         <li><a href=""><span class="fa fa-thumbs-up item"></span></a></li>
                       
                                                         <li><a href=""><span class="fa fa-share-alt  item"></span></a></li>
                                                         
                                                         <li><a href=""><span class="fa fa-bar-chart item"></span></a></li>
                     
                                                   </ul>
                     
                     
                     
                                                   <div class="post-description-footer">
                                                         <ul class="ul-inline ul-tienich">
                                                             <li>
                                                                     <div>28</div>
                    
                                                                     <img src="/assets/icon-dientich.png" alt="">
                                                             </li>
                                                             <li>
                                                                     <div>1</div>
                                                                     <img src="/assets/icon-huong.png" alt="">  
                     
                                                             </li>
                     
                                                             <li>
                                                                     <div>1</div>
                                                                    <img src="/assets/icon-phongngu.png" alt="">
                                                                     
                                                             </li>
                     
                                                             <li>
                                                                     <div> &nbsp; </div>
                                                                    
                                                                     <img src="/assets/icon-phongtam.png" alt="">
                     
                                                             </li>
                     
                                                         </ul>
                                                   </div>
                     
                                                   <hr style="border:1px solid black;opacity: 0.4;">
                                         </div>
                                         <div class="col-md-4">
                                                        <p>
                                                            <a href="#"><span class="post-by-user">thuê nhà</span></a>
                                                             <span class="full-right" style="float: right;">
                                                                
                            
                                                                     <button class="btn btn-sm btn-subcribe-user" >
                                                                                    <span class="ti-user"></span>
                                                                         <span>theo dõi</span>  
                                                                     </button>
                                                             </span>
                                                         </p>
                             
                                                         <a ng-href="/thue-nha/cho-thue-cua-hang-mat-pho-tran-quang-dieu-dong-da-ha-noi_11884" href="/thue-nha/cho-thue-cua-hang-mat-pho-tran-quang-dieu-dong-da-ha-noi_11884">
                                                             <div class="product-img">
                                                                 <div class="product-image">
                                                                         <img src=" /assets/anh9.png" alt="">
                                                                        <div class="sticker-product">Thuê</div>
                                                                         <span class="date-post">27/3/2012</span>
                                                                     </div>
                                                               
                                                             </div>
                                                         </a>
                             
                                                         <p></p>
                                                         <div class="product-title">
                                                                <a href="#">Cho thuê cửa hàng mặt phố Trần Quang Diệu, Đống Đa, Hà Nội</a>
                                                         </div>
                                                         <div class="product-address">
                                                                <a href="#"><span class="fa fa-map-marker red"><i style=" word-spacing: normal; font-family: Arial, Helvetica, sans-serif">Trần Quang Diệu, Đống Đa, Hà Nội, Việt Nam</i></span></a>
                                                         </div>
                             
                                                         <ul class="ul-inline size-16 full-left">
                                                               <li><a href="#"><span class="price">7 triệu</span></a></li>
                                                               <li><a href="#"> <span class="fa fa-phone item"></span></a></li>
                             
                                                               <li><a href=""><span class="fa fa-envelope-o item"></span></a></li>
                             
                                                               <li><a href=""><span class="fa fa-commenting-o item"></span></a></li>
                             
                                                         </ul>
                             
                             
                                                         <ul class="ul-inline size-16 full-right">
                                                                 <li><a href="#"> <span class="fa fa-star-o item"></span></a></li>
                               
                                                                 <li><a href=""><span class="fa fa-thumbs-up item"></span></a></li>
                               
                                                                 <li><a href=""><span class="fa fa-share-alt  item"></span></a></li>
                                                                 
                                                                 <li><a href=""><span class="fa fa-bar-chart item"></span></a></li>
                             
                                                           </ul>
                             
                             
                             
                                                           <div class="post-description-footer">
                                                                 <ul class="ul-inline ul-tienich">
                                                                     <li>
                                                                             <div>28</div>
                            
                                                                             <img src="/assets/icon-dientich.png" alt="">
                                                                     </li>
                                                                     <li>
                                                                             <div>1</div>
                                                                             <img src="/assets/icon-huong.png" alt="">  
                             
                                                                     </li>
                             
                                                                     <li>
                                                                             <div>1</div>
                                                                            <img src="/assets/icon-phongngu.png" alt="">
                                                                             
                                                                     </li>
                             
                                                                     <li>
                                                                             <div> &nbsp; </div>
                                                                            
                                                                             <img src="/assets/icon-phongtam.png" alt="">
                             
                                                                     </li>
                             
                                                                 </ul>
                                                           </div>
                             
                                                           <hr style="border:1px solid black;opacity: 0.4;">
                                                 </div>

              </div>


              
       </div>
     
</section>